SQL_SERVER=CHANGE_ME
SQL_DATABASE=CHANGE_ME
MSSQL_USER=CHANGE_ME
MSSQL_USER_PASSWORD=CHANGE_ME

INVITE_NOTIFICATION_BATCH_SIZE=10
INVITE_NOTIFICATION_MAX_ATTEMPTS=3
INVITE_NOTIFICATION_POLL_INTERVAL=00:00:10
INVITE_NOTIFICATION_RUN_IMMEDIATELY=true

INVITE_EMAIL_FROM_DISPLAY_NAME=CHANGE_ME
INVITE_EMAIL_FROM_EMAIL=CHANGE_ME
INVITE_EMAIL_USERNAME=CHANGE_ME
INVITE_EMAIL_PASSWORD=CHANGE_ME
INVITE_EMAIL_SUBJECT_PREFIX=CHANGE_ME
