@using Microsoft.Extensions.Localization

@inject IStringLocalizer<NotFound> L

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="nf">
    <div class="nf-card">
        <div class="nf-code">404</div>
        <h2>@L["TitlePageNotFound"]</h2>
        <p class="nf-text">
            @L["InfoPageNotFoundOrNoAccess"]
        </p>
        <a class="btn" href="/">@L["ActionGoToHome"]</a>
    </div>
</div>